body {
  background-color: #222831;
  font-family: 'Francois One', sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;

}

.bg-primary
{
  background-color: #6a2c70 !important;
}

.text-warning
{
  color: #f9ed69 !important;
}



.box {
  background-color: #f08a5d;
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  font-size: 35px;
  color: #ffffff;
}
